.logementCardContainer {
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
}

.logementCardContent {
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 20px;
}

.gradientHover {
    height: 340px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(transparent,transparent, black);
    display: flex;
    align-items: flex-end;
}

.titleContainer {
    width: 40%;
    text-align: start;

}

@media (max-width: 768px){
    .logementCardContainer {
        width: 100%;
        margin-right: 15px;

       
    }
    .logementCardContent {
        width: 100%;
        height: 255px;
        margin: 0px 0px;
        margin-bottom: 5px;
    }
    .gradientHover {
        height: 250px;
        width: 100%;
    }
    .titleContainer {
      margin-bottom: 20px;
    }
} 

