header {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}
.headerlink{
font-family: Montserrat;
 margin-right: 30px;
}
.headerlink a{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    color: black;
    margin-right: 30px;
  
  
}
.headerlink a:hover{
    text-decoration-line: underline;
}
.image{
    margin-left: 50px;
}