.error{
    font-family: Montserrat;
    font-size: 288px;
    color: #FF6060;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.error-message{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    margin-bottom: 80px;
    text-align: center;

}
.retourAccueil {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.stylerror{
    text-align: center;
    margin-bottom: 80px;
}


@media (max-width: 768px) {

.error{
    
    font-family: Montserrat;  
    font-size: 140px;
} 
.error-message{
    font-size: 20px;
    max-width: 60%;
    text-align: center;
    margin-left: 20%;

}
}