.banner {
    height: 223px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.bannerHover {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
}